<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>283485467477-chgjf1cd6fl48iocqt1m7rok4o6p5lmu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283485467477-chgjf1cd6fl48iocqt1m7rok4o6p5lmu</string>
	<key>API_KEY</key>
	<string>AIzaSyDxWqFizQNUr-E-S3ZJcowOJpR7jVtElkA</string>
	<key>GCM_SENDER_ID</key>
	<string>283485467477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Surplus-Foods</string>
	<key>PROJECT_ID</key>
	<string>surplus-foods</string>
	<key>STORAGE_BUCKET</key>
	<string>surplus-foods.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283485467477:ios:13dacc05af400d69</string>
	<key>DATABASE_URL</key>
	<string>https://surplus-foods.firebaseio.com</string>
</dict>
</plist>